<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59359658857-aokt7h5mpc9eof2bjdgkr0lpvmp8m3hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59359658857-aokt7h5mpc9eof2bjdgkr0lpvmp8m3hn</string>
	<key>API_KEY</key>
	<string>AIzaSyBqfEJd98pIzCek8SI2DyhgKIvuAMWPELk</string>
	<key>GCM_SENDER_ID</key>
	<string>59359658857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ace</string>
	<key>PROJECT_ID</key>
	<string>aceproj-1efc2</string>
	<key>STORAGE_BUCKET</key>
	<string>aceproj-1efc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59359658857:ios:645849b172ecd7e31ab3f8</string>
</dict>
</plist>